*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --secondary-color: #794afa;
    --primary-color: #ff6b6b;
}
body{
    background: linear-gradient(-45deg,rgb(112, 2, 0),rgb(2, 2, 114),rgb(100, 1, 109),rgb(1, 69, 82));
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: bgchange 20s 0s infinite ;
    transition: 2s ease-in-out;   
}
label{
    font-family: "sans-sarif";
    padding: 10px;
}
@keyframes bgchange{
   0%{
   background-position: 0% 50%;
   }
   25%{
    background-position: 100% 50%;
    }
   50%{
    background-position: 0% 50%;
    }
   75%{
   background-position: 100% 50%;
   }
   100%{
   background-position: 0% 50%;
   }
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.800);
    width: 20rem;
    height: 80vh;
    border-radius: 5px;
    box-shadow: 2px 2px 50px 5px black;
    animation: bgshadow 10s 0s infinite ;
    transition: 2s ease-in-out;   
}
@keyframes bgshadow{
    0%{
        box-shadow: 2px 2px 50px 5px black;
        }
        50%{
         box-shadow: 2px 2px 50px 5px white;
         }
        100%{
        box-shadow: 2px 2px 50px 5px black;
        }
}
#inp{
    height: 5vh;
    width:15rem ;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 1px white;
    margin-bottom: 3vh;
    padding: 0px 0px 0px 12px;
    outline: none;
    transition: 0.2s;
    position: relative;
}
/* .card .placeholder{
  
}
input:focus+.placeholder{
   
} */
.card h2{
    margin-bottom: 3vh;
    text-align: center;
    /* font-family: Bookman Style; */
}
.card #btn{
    font-weight: bolder;
    color:white;
    padding: 8px 6.5rem 8px 6.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 5vh;
    margin-bottom: 1vh;
    background: linear-gradient(-45deg,rgb(112, 2, 0),rgb(2, 2, 114),rgb(100, 1, 109),rgb(1, 69, 82));
    background-size: 400% 400%;
    animation: bgchange 20s 0s infinite ;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.card .signup{
    text-align: center;
}
.card .signup #facebook,#twitter,#google{
    font-size: 32px;
}
.card .signup #facebook{
    color:  #3b5998;
}
.card .signup #twitter{
    color: #00acee;
}
.card .signup #google{
    color:  #4285F4;
}

.logo{
    padding: 20px;
    text-align: center;
    font-size: 50px;
}
.logo .circle{
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50% 100% ;
    background-color:var(--secondary-color);
    opacity: 0.4;
    z-index: 1;
}
#signup-card{
    height: 90vh !important;
}